langchain_ollama
langchain_nomic
langchain_unstructured
langchain_chroma
langchain_core
langchain_text_splitters
langchain_community
chromadb
langchain
unstructured[pdf]
IPython
pillow
langchain 
tiktoken
nomic[local]
scikit-learn
langgraph
tavily-python
bs4
redis
htmltabletomd